
run = "python3 Tests/test_runner.py"
[nix]
channel = "stable-24_05"
modules = ["python-3.10:pip"]

[deployment]
run = ["sh", "-c", "python3 Tests/test_runner.py"]

[workflows]
runButton = "test page"

[[workflows.workflow]]
name = "test page"
mode = "sequential"
author = 40993066

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 Tests/test_runner.py"
